<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.zjtec.travel.dao.CategoryDao">
	<select id="findAll"
			resultType="com.zjtec.travel.domain.Category">
		<!-- TODO:完成SQL -->
          select * from tab_category
	</select>
</mapper>