<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.zjtec.travel.dao.RouteDao">
	<select id="findTotalCount" parameterType="int"
			resultType="int">
		<!-- TODO:完成SQL -->
        select count(*) from tab_route where cid=#{cid}
	</select>
	<select id="findByPage" parameterType="int"
			resultType="com.zjtec.travel.domain.Route">
		<!-- TODO:完成SQL -->
		select *from tab_route where cid=#{cid} limit #{start}, #{pageSize}
	</select>
</mapper>