<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.zjtec.travel.dao.UserDao">
	<select id="findByUserName" parameterType="string"
			resultType="com.zjtec.travel.domain.User">
		SELECT *
		FROM tab_user
		WHERE username = #{username}

	</select>
	<select id="findActiveUserByUserName" parameterType="string"
			resultType="com.zjtec.travel.domain.User">
		SELECT *
		FROM tab_user
		WHERE username = #{username} AND status = #{status}


	</select>
	<insert id="save" parameterType="com.zjtec.travel.domain.User">

		INSERT INTO tab_user (username, password, email, name, telephone, birthday, sex, code, status, role)
		VALUES (#{username}, #{password}, #{email}, #{name}, #{telephone}, #{birthday}, #{sex}, #{code}, #{status}, #{role})
	</insert>
	<select id="existUserNameOrEmail" parameterType="string" resultType="boolean">
		SELECT CASE
				   WHEN COUNT(*) > 0 THEN TRUE
				   ELSE FALSE
				   END
		FROM tab_user
		WHERE username = #{username} OR email = #{email}
	</select>
	<update id="activeUser" parameterType="com.zjtec.travel.domain.User">
		<!-- TODO:完成SQL -->
		UPDATE tab_user
		SET status = 'Y'
		WHERE username = #{param1} AND code = #{param2}
	</update>
</mapper>